:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #210e6b;
  --color-body: #918ca4;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 2.4rem; /*For body texts*/
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

/* h1 font size is 70 px so 7 rem */
h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  /* margin-bottom: 2rem; */
}

/* Making margin top as 0, so that h3 margin will be there which is 2 rem */
p {
  margin-top: 0;
}

/* Still there is more space between p and h3, on close checking, we find that the font itself has some space up and down the characters, so we need to adjust the bottom margin. All h tags in the photoshop of mobile have a 20px space, so instead of just giving h3 margin bottom, we can give to all h tags*/

@media screen and (min-width: 1000px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px; /*using absolute, as we need to have this amt of space no matter how large the font is */
  transition: margin 0.15s; /* adding smooth transition in hover effect */
}

/*  Adding a hover effect, such that the arrow moves right */
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1000px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
/* Defining the structure of badge */

/* The badge font weight looks quite greater, so it needs less weight, so using weight 600 instead of bold */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: norwap; /* We dont want our badge text to be wrapped in the next line, even if we have limited space*/
}

/* Defining the skin of badge */
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

/* Now  defining different badge font size for small badges*/
.badge--small {
  font-size: 1.6rem;
}

/* Now handling larger screens */
@media screen and (min-width: 1000px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style-type: none;
  color: var(--color-headings);
  padding-left: 0; /* removing he default left padding */
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  /* The ticks are invisible, so we need to apply a padding left*/
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
